<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lumbria</title>

    <link th:href="@{css/bootstrap.min.css}" rel="stylesheet">

  </head>
  <body>

    <div class="container-fluid text-center">
		<div class="row">
			<div class="col-md-12">
				<div class="w-50 mx-auto">
					<img alt="Lumbria Logo" src="logo.png" class="img-fluid">
				</div>
				<h2>
					Coming soon!
				</h2>
				<p>
					Lumbria promises to take care of all of your <strike>illegal</strike> logging needs. Though we offer no compensation nor any legal accompaniment should you get caught for destroying the planet!
				</p>
				<span class="badge badge-danger">We are currently still conducting user research, information regarding the browser that you use may be logged (pun intended)</span>
			</div>
		</div>
	</div>
	<script th:src="@{js/tether.min.js}"></script>
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/bootstrap.min.js}"></script>
  </body>
</html>
